.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
  margin: 0;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
  margin: 0;
  padding: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 18px 0;
  position: absolute;
  bottom: 0px;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.main-link {
  transition: opacity 0.5s;
  text-decoration: none;
}

.main-link:hover {
  opacity: 0.5;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer__social-icons {
  margin: 0;
  margin-right: 10px;
}
